.Rproj.user
.Rhistory
.RData
.Ruserdata

# Orderly will store data in a sqlite database, by default orderly.sqlite
*.sqlite

draft
data
archive
global
depends/
.orderly/
backup/
metadata/
README.html
hrsl/
bundle-input/
